body{
    background-color: #3f4041;
    height: 100ch;
}
.avatar{
   width: 10vh;
   border-radius:25px;
}
.tb{
    margin: 0px;
    width: 100%;
    height: 50px;

}
a{
    color: #00a560;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

input{
    background-color: #3f4041;
    margin: 10px 0;
    border: unset;
    border-radius:25px;
    border:  solid 2px #c57428;

}
button{
    background-color: #57553e;
    margin: 10px 0;
    border: unset;
    border-radius:25px;
    border:  solid 2px #c57428;
   
}